<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div>
			<h1>메모 리스트</h1>
			<table class="table">
				<thead>
				<tr>
					<th>no</th>
					<th>메모</th>
					<th>이름</th>
				</tr>
				</thead>
				<tr>
				<td>djwjdn</td>
				<td>djwjdn</td>
				<td>djwjdn</td>
				</tr>
			
			</table>
		</div>

		</section>


<script layout:fragment="script"></script>


</html>