<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
     
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
		<div class="col-9 m-5">
			<h1 class="text-center my-5">메모 리스트</h1>
			<table class="table text-center">
				<thead class="font-weight-bold bg-secondary">
					<tr>
						<th>no</th>
						<th>메모</th>
						<th>이름</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>djwjdsdgsdgn</td>
						<td>djwjsdgsdggsdgsdgsdgdgdn</td>
						<td>djwjdn</td>
					</tr>
					<tr>
						<td>djwjdn</td>
						<td>djwjdn</td>
						<td>djwjdn</td>
					</tr>
					<tr>
						<td>djwjdn</td>
						<td>djwjdn</td>
						<td>djwjdn</td>
					</tr>
				</tbody>
			</table>
			<div class="my-4 d-flex justify-content-end">
			<button type="button" class="btn btn-secondary">메모쓰기 </button>
			</div>
		</div>

		</section>


<script layout:fragment="script"></script>


</html>